/* The Events Calendar */


li.tribe-events-adv-list-widget ol li {
  font-size: 0.8em;
  margin-bottom: 15px;
  line-height: 1.5em;
}

.tribe-events-widget-link { text-align: center; }

table.tribe-events-calendar { background-color: #fff; }

/* Adjustments for Ryu theme */
h4.entry-title.summary { font-size: 1.25em; }
.tribe-bar-views-list { font: 15px Lato, sans-serif ; }